@import url("reset.css");
* {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(18, 18, 18);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.5rem 1fr 3.5rem;
    grid-template-areas:
    "header"
    "main"
    "footer";
}
h1 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: -5px;
}
p {
    font-size: 0.8rem;
    line-height: 1.2rem;
}
a {
    text-decoration: none;
    color: rgb(51, 168, 219);
    cursor: pointer;
}
b a, a b {
    text-decoration: none;
    color: rgb(51, 168, 219);
    font-weight: 700;
    cursor: pointer;
}
b {
    font-weight: 700;
}
h2 {
    font-weight: 700;
}

header {
    grid-area: header;
    background-color: rgb(18, 18, 18);
    height: 3.5rem;
    width: 100%;
    padding: 0.5rem 1rem;
    position: fixed;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    justify-content: center;
}
.hoverHeader:hover {
    height: 2.5rem;
    width: 2.5rem;
    background-color: rgb(48, 48, 48);
    border-radius: 50%;
    cursor: pointer;
}
.contentHeader {
    height: 100%;
    width: 100%;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    flex: 1 1 auto;
}
.headerLeft {
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
}
.menu {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
}
.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    cursor: pointer;
}
svg {
    display: block;
    margin: auto;
}
.headerCenter {
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}
.searcher {
    display: inline-flex;
    justify-content: right;
    align-items: center;
    max-width: 40rem;
    min-width: 5rem;
    flex: 1 1 auto;
}
#search {
    background-color: rgb(18, 18, 18);
    border: 1px solid rgb(48, 48, 48);
    max-width: auto;
    min-width: 3rem;
    height: 2.3rem;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    padding: 0 0 0 1rem;
    border-radius: 2rem 0 0 2rem;
    flex: 1 1 auto;
}
#search:focus-visible {
    background-color: rgb(18, 18, 18);
    outline: transparent;
    border: 1px solid #1c62b9;
    border-radius: 2rem 0 0 2rem;
    padding: 0 0 0 48px;
    background-image: url("../images/search.png");
    background-size: 20px 20px;
    background-position: 16px 8px;
    background-repeat: no-repeat;
    margin-left: -32px;
}
.buttonSearch {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgb(48, 48, 48);
    border-radius: 0 2rem 2rem 0;
    width: fit-content;
    height: 2.43rem;
    padding: 0 1rem 0 1.3rem;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.lupa {
    width: 23px;
}
.mic {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: rgb(48, 48, 48);
    border-radius: 50%;
    margin-left: 1rem;
}
.mic:hover {
    height: 2.5rem;
    width: 2.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
}

.headerRight {
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
}
.createVideo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 0.6rem;
}
.bell {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
}
.profile {
    background-image: url("../images/profile-picture.jpg");
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 1.4rem;
    margin-right: 0.9rem;
}
.profile:hover {
    cursor: pointer;
}
.tooltip {
    position: absolute;
    display: inline-block;
    width: 3rem;
    height: 3rem;
}
.tooltipSearch {
    position: absolute;
    display: inline-block;
    margin-right: 6px;
    border-radius: 0 2rem 2rem 0;
    width: 4rem;
    height: 2.6rem;
}
.tooltipTextSearch {
    visibility: hidden;
    font-size: 0.8rem;
    width: 4.8rem;
    background-color: rgba(140, 140, 140, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px 0px;
    position: absolute;
    z-index: 1;
    top: 3.5rem;
    right: -0.4rem;
}
.tooltipSearch:hover .tooltipTextSearch {
    visibility: visible;
}
.tooltipTextMic {
    visibility: hidden;
    font-size: 0.8rem;
    width: 9.2rem;
    background-color: rgba(140, 140, 140, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px 0px;
    position: absolute;
    z-index: 1;
    top: 3.7rem;
    right: -3.1rem;
}
.tooltip:hover .tooltipTextMic {
    visibility: visible;
}
.tooltipTextVideo {
    visibility: hidden;
    font-size: 0.8rem;
    width: fit-content;
    background-color: rgba(140, 140, 140, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px 8px;
    position: absolute;
    z-index: 1;
    top: 3.7rem;
    right: 0.1rem;
}
.tooltip:hover .tooltipTextVideo {
    visibility: visible;
}
.tooltipTextBell {
    visibility: hidden;
    font-size: 0.8rem;
    width: 5rem;
    background-color: rgba(140, 140, 140, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px 4px;
    position: absolute;
    z-index: 1;
    top: 3.7rem;
    right: -1.3rem;
}
.tooltip:hover .tooltipTextBell {
    visibility: visible;
}



main {
    max-width: 100%;
    grid-area: main;
    display: grid;
    grid-template:
    "nav nav2" auto
    "nav content" 1fr
    / 240px 1fr;
    padding-top: 12px;
}
.nav1 {
    width: 240px;
    grid-area: nav;
    padding: 12px;
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-top: -12px;
    position: fixed;
    height: calc(100vh - 3.5rem);
    box-sizing: border-box;
}
.nav1::-webkit-scrollbar {
    display: none;
}
.nav1 div {
    width: 204px;
    height: 40px;
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    gap: 25px;
    font-size: 0.84rem;
    font-weight: 300;
    letter-spacing: 0.5px;
}
.nav1 svg {
    margin: 0;
}
.nav1 div:hover {
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}
.home {
    width: 204px;
    height: 40px;
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    gap: 25px;
    font-size: 0.84rem;
    font-weight: 300;
    background-color: rgb(40, 40, 40);
    letter-spacing: 0.5px;
}
.home:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
div.hrNav {
    background-color: rgb(60, 60, 60);
    border-radius: 0;
    height: 1px;
    width: 100%;
    margin: 12px auto;
    padding: 0.5px;
}
div.hrNav:hover {
    background-color: rgb(60, 60, 60);
    cursor: default;
}
div.secondNav {
    font-size: 0.95rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding-left: 13px;
}
div.secondNav svg {
    margin-left: -18px;
}
div.subsNav, div.explore, div.moreYT {
    font-size: 0.95rem;
    font-weight: 500;
}
div.subsNav:hover, div.explore:hover, div.moreYT:hover {
    cursor: default;
    background-color: transparent;
}
.navFooter {
    font-size: 0.8rem;
    color: rgb(170, 170, 170);
    width: 204px;
    padding-left: 12px;
    line-height: 1.1rem;
}
.navFooter .pointer {
    font-weight: 500;
}
.infoFooter {
    font-size: 0.7rem;
    font-weight: 300;
    color: rgb(113, 113, 113);
}
div.profileApple {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-image: url("../images/profile-apple.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    margin: 0;
}
div.profileDIO {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-image: url("../images/profile-dio.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    margin: 0;
}
div.profileEaslo {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-image: url("../images/profile-easlo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    margin: 0;
}
div.profileCrinacle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-image: url("../images/profile-crinacle.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    margin: 0;
}
div.profileCEE {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-image: url("../images/profile-CEE.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    margin: 0;
}
div.profileNsenga {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-image: url("../images/profile-nsenga.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    margin: 0;
}




.nav2 {
    grid-area: nav2;
    padding-left: 24px;
    padding-right: 24px;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    margin-bottom: 10px;
    box-sizing: border-box;
    overflow-x: auto;
    padding-bottom: 10px;
}
.indication {
    background-color: rgb(40, 40, 40);
    padding: 5px 12px;
    border-radius: 8px;
    cursor: pointer;
    min-width: fit-content;
}
.indication h3 {
    font-size: 14px;
    margin: 0;
    font-weight: 400;
}
.selected {
    background-color: white;
    padding: 5px 12px;
    border-radius: 8px;
    color: rgb(18, 18, 18);
}
.selected h3 {
    font-weight: 500;
}
.indicationHover:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.nav2::-webkit-scrollbar {
    background-color: rgb(60, 60, 60);
    border-radius: 5px;
    height: 8px;
}




.content {
    box-sizing: border-box;
    grid-area: content;
    padding: 21px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(277px, 100%));
    grid-auto-rows: auto;
}



.videos {
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}
.thumbImg {
    border-radius: 12px;
    width: 100%;
}
.imgThumb {
    object-fit: cover;
    position: relative;
    margin-bottom: 8px;
}
.timeVideo {
    font-size: 0.7rem;
    background-color: rgba(18, 18, 18, 0.5);
    display: inline-block;
    padding: 4px 6px;
    border-radius: 5px;
    position: absolute;
    right: 8px;
    bottom: 12px;
}
.timeSide {
    font-weight: 700;
    margin: auto;
}
.timeVideoLIVE {
    font-size: 0.7rem;
    background-color: red;
    display: inline-block;
    padding: 4px 6px;
    border-radius: 5px;
    position: absolute;
    right: 8px;
    bottom: 12px;
}
.page2A {
    color: white;
}




.infoVideoFlex {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex: row nowrap;
    padding-bottom: 50px;
}
.profileThumb {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    margin-right: 10px;
}
.profileThumb img {
    width: 100%;
    border-radius: 50%;
}
.titleVideo {
    max-height: 2.9rem;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2;
}
h3 {
    font-weight: 500;
    line-height: 1.4rem;
    margin-bottom: 0.3rem;
}
.infoVideo {
    width: 100%;
    cursor: pointer;
}
.infoVideo p {
    color: rgb(170, 170, 170);
}
.infoVideoChannel {
    color: rgb(170, 170, 170);
}
.infoVideoChannel:hover {
    color: white;
    cursor: pointer;
}
.optThumb {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -10px;
    margin-top: -5px;
}
.optThumb:hover {
    background-color: rgb(40, 40, 40);
    border-radius: 50%;
    cursor: pointer;
}


.pointer {
    cursor: pointer;
}